$yellow:#FFD977;
$creamy:#F8EFDB;
$orange:#CB7005;
$light-orange:#E18D2A;
$light-green-blue:#1D6D6F;
$dark-green-blue:#003E52;
$text-color:#1E1E1E;
$card-bc:#eee4cd;


$fontFamilyDMSerifDisplay:'DM Serif Display', serif;
$fontFamilyPoppins:'Poppins', sans-serif;
$fontFamilyShrikhandy:'Shrikhand', serif;
$fontFamilyUbuntu: 'Ubuntu', sans-serif;
$italicFontStyle: italic;


$font-weights:(
  "extraLight":200,
  "regular":400,
  "SemiBold":600, 
  "bold":700
  )